/*
1. 
La carpeta abstracts/ reúne todas las herramientas y helpers de Sass utilizados en todo el proyecto. Cada variable global, función, mixin y placeholder debería estar en esta carpeta.

La regla de oro para esta carpeta es que no debe generar ni una sola línea de CSS cuando se compila por si sola. Solo hay helpers de Sass.

*/
@use 'abstracts';

//2. VENDORS -> LIBRERÍAS -> FRAMEWORKS DE TERCEROS
@use 'vendors';



//3. ESTILOS BASE DEL PROYECTO -> RESET, TIPOGRAFÍA
@use 'base';

//4. LAYOUS
@use 'layouts';

//5. COMPONENTES REUTILIZABLES
@use 'components';

//6. ESTILOS DIRIGIDOS A UNA PÁGINA PUNTUAL
@use 'pages';