@use '../abstracts/variables' as *;

.home-page {
    background-color: $bg-green;
}


.home-header {
    text-align: center;
    padding: 3rem;

    &__title{
        color: $color-accent;;
    }

    &__text {
        color: $color-indigo;
        padding: 2rem 0;
    }


}

.home-container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.5rem;

    button{
        width: 80%;
    }
}
