//background colors
$bg-green: #4CAF50;

//general colors
$color-indigo: indigo;
$color-accent: #E91E63;
$color-primary: #2196F3;

$color-primary-outline: #439be3;


$custom-colors: (
    "custom-primary": $color-indigo,
    "custom-secondary": $color-accent
);